# Frontend Environment Variables
NODE_ENV={{ env_vars.NODE_ENV | default('production') }}
VITE_API_URL={{ env_vars.VITE_API_URL | default('http://localhost:' + backend_port|string) }}
VITE_APP_NAME={{ app_name }}
