GOOGLE_API_KEY="Your own GCP API Key"
MONGO_CONNECTION_STRING="mongodb://myuser:mypassword@mongo:27017/"
MONGO_DB_NAME="financialAI_db"
CELERY_BROKER_URL="redis://redis:6379/0"
CELERY_RESULT_BACKEND="redis://redis:6379/0"