# aws app example tfvars
aws_region               = "us-east-1"
db_password              = "replace-with-strong-password"
project_name             = "anti-fraudx"
db_name                  = "antifraudx"
domain_name              = "aws.anti-fraudx.us.ci"
bedrock_model_id         = "amazon.nova-lite-v1:0"
aws_load_balancer_scheme = "internet-facing"
aws_acm_certificate_arn  = ""
app_image                = "andy19982001/anti-fraudx:terraform"
aws_log_group_name       = "/anti-fraudx-terraform/anti-fraudx/application"
aws_log_stream_name      = "anti-fraudx-app"
aws_monitoring_namespace = "AntiFraudX"
aws_polly_engine         = "neural"
