import multiprocessing

# Server socket
bind = "0.0.0.0:{{ backend_port }}"
backlog = 2048

# Worker processes
workers = {{ gunicorn_workers }}
worker_class = 'sync'
worker_connections = 1000
timeout = 30
keepalive = 2

# Logging
accesslog = '{{ log_dir }}/backend-access.log'
errorlog = '{{ log_dir }}/backend-error.log'
loglevel = 'info'
access_log_format = '%(h)s %(l)s %(u)s %(t)s "%(r)s" %(s)s %(b)s "%(f)s" "%(a)s"'

# Process naming
proc_name = '{{ app_name }}-backend'

# Server mechanics
daemon = False
pidfile = '/var/run/{{ app_name }}-backend.pid'
user = '{{ app_user }}'
group = '{{ app_group }}'
tmp_upload_dir = None

# SSL (if needed)
{% if enable_ssl %}
keyfile = '{{ ssl_key_path }}'
certfile = '{{ ssl_cert_path }}'
{% endif %}
